.headerArea {
  background: #1565d8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.leftSide a {
  color: white;
  text-decoration: none;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
}

button.btn {
  background: inherit;
  color: white;
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  font-size: medium;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}

/* .btn:hover {
  background: transparent;
  color: white;
} */

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.rightSide {
  margin-left: auto;
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navMenu li {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.navMenu a {
  text-decoration: none;
  color: white;
}
